/* 全体背景とフォント調整 */
.container {
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    font-family: 'Helvetica Neue', sans-serif;
    color: #333;
    width: 100%;
    min-height: 100vh;
}

/* ヘッダー部分 */
.header {
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    height: 53px;
    border-bottom: 1px solid #f4f4f4;
}

/* mogitateロゴ */
.header-ttl {
     font-family: 'Dancing Script', cursive;
    font-weight: 500;
    font-style: italic;
    font-size: 30px;
    line-height: 1; /* 100% = 1 */
    letter-spacing: 0;
    color: #f5c800;
    width: 112px;
    height: 33px;
}

/* メインコンテンツ */
.main {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
}
